{
	"env": {
		"node": true,
		"mocha": true,
		"jest/globals": true,
		"browser": true,
		"es2020": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 11,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:@wordpress/eslint-plugin/recommended"
	]
}
